apiVersion: v1
kind: Service
metadata:
  labels:
    app: postgres
  name: postgres-headless
spec:
  clusterIP: None
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
  selector:
    app: postgres
  type: ClusterIP
